#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body
{
    background-image: linear-gradient(to right top, #d9ff05, #00e9e9, #ffffff, #d9ff05, #00e9e9);
}